# Object file
*.o

# Ada Library Information
*.ali

# package directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release


# Snowpack dependency directory (https://snowpack.dev/)
web_
